GEMINI_API_KEY = your-gemini-api-key
SUPABASE_URL = https://your-project-id.supabase.co
SUPABASE_KEY = your-anon-or-service-key
NEO4J_URI = neo4j://your-neo4j-instance-uri
NEO4J_USER = your-neo4j-username
NEO4J_PASS = your-neo4j-password
NEO4J_DB = your-project-database-name